/* styles.css */

/* Estilo para el encabezado h1 */
h1{
	border: 6px solid rgba(139, 0, 139, 0.5);
	color: rgb(128, 0, 128);
	background-color: pink;
	text-align: center;
	font-size: 30px;
	margin: 0px;
}

h2{
	border: 3px solid rgb(255, 215, 0);
}

h3{
	border: 3px solid rgb(255, 215, 0);
}

.encabezado{
	color: LightSalmon;
	background-color: MediumVioletRed;
	text-align: star;
	font-size: 25px;
	margin: 0px;
}

#autor{
	color: LightSalmon;
	background-color: MediumVioletRed;
	text-align: center;
	font-size: 20px;
	margin: 0px;
}

/* Estilo para los párrafos */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: MediumVioletRed;
    background-color: LightSalmon;
    margin: 0px;
    text-align: justify;
}

/* Estilo para el enlace */
a {
    color: purple;
    text-decoration: none;
}

/* Estilo para las listas no ordenadas */
ul {
    list-style-type: "*";
    background-color: LightSalmon;
    margin: 0px;
    color: DarkSlateGray;
    font-size: 20px;
}

/* Estilo para las imágenes */
img {
	margin: 0px;
    max-width: 90%;
    background-color: LightSalmon;
    height: auto;
    border: 6px solid rgba(139, 0, 139, 0.5);
}